/* Slideshow */

.slideshow {
  overflow: hidden;
  margin: 0 auto;
  max-width: 75%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  border-radius: 2.5rem;
  position: relative;
}

.slide > img {
  border-radius: 1rem;
  border: 5px solid var(--light-color);
}

.slide:hover {
  opacity: 0.9;
}

/* **************************************************************************************************** */

/* Buttons */

.slideshowDots {
  text-align: center;
  margin-top: 1rem;
}

.slideshowDot {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  cursor: pointer;
  margin: 1rem;
  background-color: var(--slide-dot-inactive);
}

.slideshowDot.active {
  background-color: var(--slide-dot-active);
}

/* **************************************************************************************************** */

@media screen and (max-width: 1280px) {
  .slideshow {
    max-width: 90%;
  }
}

@media screen and (max-width: 1080px) {
  .slideshow {
    max-width: 100%;
  }
}
